.footer{
    width: 100%;
    height: 50px;
    padding-left: 10px;
    line-height: 50px;
    background: #333;
    color: #fff;
    position: absolute;
    bottom: 0px;
    text-align: center;
}

body{
    background-image: linear-gradient(-20deg, #ff2846 0%, #6944ff 100%);
}
html {
    width: 100%;
}